section {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 2em 12vw;
}

.search>h1 {
    padding-bottom: 1rem;
}

@media (max-width: 992px) {
    .search>h1 {
        font-size: 2rem;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
    background-color: white;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    
}

.card>img {
    border-radius: 10px 10px 0 0;
    padding-bottom: .5rem;
    max-width: 250px;
}

.card>h1,
.card>h2 {
    padding: .25rem 1rem;
}

.card>h1 {
    font-size: 1.25rem;
}

.card>h2 {
    font-size: 1rem;
}

.card>p {
    padding: .25rem 1rem 1rem 1rem;
}

.card>a {
    width: auto;
    padding: 0.25rem 1rem 0.5rem 1rem;
    background-color: goldenrod;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
    text-align: right;

    font-size: 1.25rem;
}

.card>a:hover {
    background-color: darkgoldenrod;
}

.material-icons {
    position: relative;
    top: 0.25rem;
}